<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status de Cliente - {{ client_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="/">General Summary</a></li>
                <li><a href="#">Last 24h Jobs</a></li>
                <li><a href="#">Errors and Warnings</a></li>
                <li><a href="/admin">Admin Panel</a></li>
                <!-- Agrega más items según sea necesario -->
            </ul>
        </div>
        <div class="admin-panel">
            <h2>Estado de {{ client_name }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Fecha de Creación</th>
                        <th>Nombre de VM</th>
                        <th>Tipo</th>
                        <th>Resultado</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result[0] }}</td>
                        <td>{{ result[1] }}</td>
                        <td>{{ result[2] }}</td>
                        <td>{{ result[3] }}</td>
                        <td>{{ result[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

